p {color:blue;font-size: 8 px; font-height 7 px; font-family: ariel;}
div {color:blue;font-size: 8 px; font-height 7 px; font-family: ariel;}
footer {color:blue;font-size: 8 px; font-height 7 px; font-family: ariel;}